<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Coronavirus Tracker</title>
</head>
<body>
<table>
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
    </tr>
    <tr th:each="locationStats : ${locationStats}">
        <td th:text="${locationStats.state}"></td>
        <td th:text="${locationStats.country}"></td>
        <td th:text="${locationStats.latestTotal}">0</td>
    </tr>
</table>
</body>
</html>